In [32]:
import sys, os
import pandas as pd
from src.utils import *

In [33]:
sys.argv

['/Users/goldyrana/miniconda3/envs/credit/lib/python3.8/site-packages/ipykernel_launcher.py',
 '--f=/Users/goldyrana/Library/Jupyter/runtime/kernel-v2-908rfEYEiblSVbB.json']

In [34]:
joined_data = pd.read_csv("/Users/goldyrana/work/ATU/Sem1/predictive/t_project1/credit_card_approval_prediction/data/interim/joined_data.csv")

In [16]:
joined_data.isnull().sum()

id                          0
code_gender                 0
flag_own_car                0
flag_own_realty             0
cnt_children                0
amt_income_total            0
name_income_type            0
name_education_type         0
name_family_status          0
name_housing_type           0
days_birth                  0
days_employed               0
flag_mobil                  0
flag_work_phone             0
flag_phone                  0
flag_email                  0
occupation_type        134203
cnt_fam_members             0
status                 402100
dtype: int64

In [17]:
joined_data.shape

(438557, 19)

In [35]:
null = pd.read_csv("/Users/goldyrana/work/ATU/Sem1/predictive/t_project1/credit_card_approval_prediction/data/interim/null_data.csv")
null.isnull().sum()

flag_own_realty             0
cnt_children                0
amt_income_total            0
name_income_type            0
name_education_type         0
days_birth                  0
days_employed               0
occupation_type        122880
cnt_fam_members             0
status                 402100
dtype: int64

In [36]:
nn = pd.read_csv("/Users/goldyrana/work/ATU/Sem1/predictive/t_project1/credit_card_approval_prediction/data/interim/not_null.csv")

In [37]:
nn.head()

,flag_own_realty,cnt_children,amt_income_total,name_income_type,name_education_type,days_birth,days_employed,occupation_type,cnt_fam_members,status
0,Y,0,427500.0,Working,Higher education,32.89,12.44,NaN,2.0,0.0
1,Y,0,427500.0,Working,Higher education,32.89,12.44,NaN,2.0,0.0
2,Y,0,112500.0,Working,Secondary / secondary special,58.83,3.11,Security staff,2.0,0.0
3,Y,0,270000.0,Commercial associate,Secondary / secondary special,52.36,8.36,Sales staff,1.0,1.0
4,Y,0,270000.0,Commercial associate,Secondary / secondary special,52.36,8.36,Sales staff,1.0,0.0

In [39]:
from sklearn.preprocessing import LabelEncoder  

le = LabelEncoder()
fitted_e = {}

columns = ['flag_own_realty',
       'name_income_type', 'name_education_type',
        'occupation_type']
for col in columns:
    fitted_e.update({col: le.fit(nn[col])})

In [40]:
fitted_e

{'flag_own_realty': LabelEncoder(),
 'name_income_type': LabelEncoder(),
 'name_education_type': LabelEncoder(),
 'occupation_type': LabelEncoder()}

In [ ]:
for col in fitted_e.keys():
    null[col] = fitted_e[col].transform(null[col])

In [49]:
class custome_label_encoder(LabelEncoder):
    def __init__(self,handle_unkown = True):
        super().__init__()
        self.handle_unkown = handle_unkown
        
    def fit(self, y):
        super().fit(y)
        return self
    
    def handle_error(self):
        pass
    
    def transform(self, y):
        classes = y.unique()
        if classes not in self.classes_:
            print(f"class {classes} not found")
            
f = custome_label_encoder()

fitted_e = {}

columns = ['flag_own_realty',
       'name_income_type', 'name_education_type',
        'occupation_type']
for col in columns:
    fitted_e.update({col: f.fit(nn[col])})

In [50]:
fitted_e

{'flag_own_realty': custome_label_encoder(),
 'name_income_type': custome_label_encoder(),
 'name_education_type': custome_label_encoder(),
 'occupation_type': custome_label_encoder()}

In [51]:
for col in fitted_e.keys():
    null[col] = fitted_e[col].transform(null[col])

class not found
class not found
class not found

/var/folders/rt/_sv9t5px3yv5bth97z8py2mr0000gn/T/ipykernel_1418/3831180477.py:15: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  if classes not in self.classes_:

In [ ]:
class custome_label_encoder(LabelEncoder):
    def __init__(self,handle_unkown = True, *args, **kwargs):
        super().__init__(*args, **kwargs)
        
    def fit(self, y):
        return super().fit(y)
        
    def handle_error(self):
        pass
    
    def transform(self, y):
        classes = y.unique()
        if classes not in self.classes_:
            print("class not found")
            
f = custome_label_encoder()

fitted_e = {}

columns = ['flag_own_realty',
       'name_income_type', 'name_education_type',
        'occupation_type']
for col in columns:
    fitted_e.update({col: f.fit(nn[col])})